{% extends 'base.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-[80vh] px-4">
    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzN4YXc2aTA1NW9lanhmOWc0MmRtazJycTI2dnBzMHk5ajh3NDA5ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XOf2mdbvIkjhbnlDwQ/giphy.gif"
         alt="Crédits GIF"
         class="w-full max-w-5xl rounded-lg shadow-2xl">
</div>
{% endblock %}
